@page


@model AutomationCodeHive.Pages.Mentor.MentorListModel
@{
}

<h1>List of Mentors</h1>


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search a mentor by name" asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>


@foreach (var mentor in Model.Mentors)
{
    <partial  name="_Summary" model="mentor"/>

}
<a asp-page="./MentorEdit" class="btn btn-secondary">Add a new mentor</a>

<a asp-page="./PostList" class="btn btn-secondary">Add a new post</a>



