@page
@model AutomationCodeHive.Pages.CodeHive.CodeHiveModel
@{
}
<h1>Welcome to Coding HIVE!</h1>
<p>Content is under constraction...</p>

<p>Try yourself:</p>
    <div class="card" style="box-decoration-break">
            <span class="card-body" >
                <i>Coding block</i>
            </span>
  
    </div>

