@page
@model AutomationCodeHive.Pages.ContactModel
@{
}
    <h1>Contact</h1>
    <p>How to follow me?</p>
        <ol>
            <li>Email:</li>
            <li>Phone:</li>
            <li>Instagram:</li>
            <li>Facebook:</li>
            <li>GitHub:</li>
            <li>Google:</li>
            <li>Address:</li>
            <li>Maps:</li>
        </ol>
        <p>The page under the construction</p>

