@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Automation HIVE</h1>
    <p>Learn how to automate testing from zero to hero!</p>
    <p>Content is under construction...</p>

     
</div>
