@model int

    <div class="card">
        <div class="card card-header">
            <h4>There are @Model mentors here. </h4>
            <a asp-page="/Mentor/MentorList">See all mentors</a>
            </div>
        </div>
